<%= form_for @hostgroup, :html => {:data => {:id => @hostgroup.try(:id), :'hostgroup-form' => @hostgroup.id || 0 }} do |f| %>

<div ng-init="hostgroupId='<%= @hostgroup.id %>';">
</div>

<div data-ng-controller='hostgroupController'>
<!--   {{ hostgroupId }} -->
<!--   <pre>
    {{ addedPuppetClasses }}
 </pre> -->

  <%= base_errors_for @hostgroup %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Hostgroup') %></a></li>
    <li><a href="#puppet_klasses" data-toggle="tab"><%= _('Puppet Classes') %></a></li>
    <% if SETTINGS[:unattended] %>
      <li><a href="#network" data-toggle="tab"><%= _('Network') %></a></li>
      <li><a href="#os" data-toggle="tab"><%= _('Operating System') %></a></li>
    <% end %>
    <li><a href="#params" id='params-tab' data-toggle="tab"><%= _('Parameters') %></a></li>
    <% if show_location_tab? %>
      <li><a href="#locations" data-toggle="tab"><%= _('Locations') %></a></li>
    <% end %>
    <% if show_organization_tab? %>
      <li><a href="#organizations" data-toggle="tab"><%= _('Organizations') %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="primary">
      <%= select_f f, :parent_id, accessible_hostgroups, :id, :to_label, {:include_blank => true}, {:label => _('Parent'),
                      :onchange => 'hostgroup_changed(this);', :'data-url'=> process_hostgroup_hostgroups_path,
                      :disabled => !@hostgroup.new_record?,
                      :help_inline => :indicator } %>
      <%= text_f f, :name, :'data-ng-model' => 'hostgroup.name' %>
      <%= select_f f, :environment_id, Environment.all, :id, :to_label, {:include_blank => blank_or_inherit_f(f, :environment)},
        {:label => _("Environment"),
         :'data-ng-model' => 'hostgroup.environment',
         :'data-ng-options' => 'env.name for env in environments',
         :'data-ng-change' => 'environmentChanged()'
          } %>
      <%= f.hidden_field :environment_id, :value => "{{ hostgroup.environment.id }}" %>
<!--
c.value as c.label for c in countries
env.id as env.name for env in environments
key as value for (key,value) in environments
 -->
      <%= select_f(f, :compute_profile_id, ComputeProfile.visibles, :id, :name,
                       { :include_blank => blank_or_inherit_f(f, :compute_profile) },
                       { :label => _("Compute profile"),
                         :'data-ng-model' => 'hostgroup.compute_profile',
                         :'data-ng-options' => 'cp.name for cp in compute_profiles'
                       }
                  ) if ComputeProfile.visibles.any? %>
      <%= f.hidden_field :compute_profile_id, :value => "{{ hostgroup.compute_profile.id }}" %>

      <%= puppet_master_fields f %>
      <%= f.hidden_field :puppet_ca_proxy_id, :value => "{{ hostgroup.puppet_ca_proxy.id }}" %>
      <%= f.hidden_field :puppet_proxy_id, :value => "{{ hostgroup.puppet_proxy.id }}" %>
    </div>

    <div class="tab-pane" id="puppet_klasses">
      <% if @environment or @hostgroup.environment %>
        <%= render 'puppetclasses/class_selection', :obj => @hostgroup, :f => f %>
      <% else %>
        <%= alert :class => 'alert-warning', :text =>  _('Please select an environment first') %>
      <% end %>
    </div>

    <div class="tab-pane" id="network">
      <%= render 'common/domain_subnet', :item => @hostgroup %>
    </div>

    <div class="tab-pane" id="os">
      <%= render "common/os_selection/initial", :item=> @hostgroup %>
      <%= password_f f, :root_pass, :'data-ng-model' => 'hostgroup.root_pass' %>
    </div>

    <div class="tab-pane" id="params">
      <h6><%= _('Puppet classes parameters') %></h6>
      <p/>
      <%= render "puppetclasses/classes_parameters", { :obj => @hostgroup } %>
      <h6><%= _('Host group parameters') %></h6>
      <p/>
      <%= render "common_parameters/puppetclasses_parameters", :f => f %>
      <p/>
      <%= render "common_parameters/parameters", { :f => f, :type => :group_parameters } %>
    </div>

    <%= render 'taxonomies/loc_org_tabs', :f => f, :obj => @hostgroup %>
  </div>
  <%= submit_or_cancel f %>
</div>
<% end %>
