<%= javascript 'users', 'password_strength' %>
<%= stylesheet 'password_strength' %>

<% title _("Change Password") %>
<p />
<%= _("You are required to change your password the first time after you you log in.") %>
<p />

<%= form_for @user, :url => update_password_user_path(@user), :method => "put" do |f| %>
  <%= base_errors_for @user %>
  <div id='password' <%= display? !@user.manage_password? %>>
    <%= password_f f, :password, :label => _('Password') %>
    <%= password_f f, :password_confirmation, :label => _('Verify') %>
  </div>

  <%= submit_or_cancel f %>
<% end %>
