<div class="row">
  <% if obj.errors[:puppetclasses].any? %>
    <%= alert :class => "alert-block alert-danger base in fade",
              :text => obj.errors[:puppetclasses].map { |e| "<li>#{e}</li>" }.to_s.html_safe %>
  <% end %>
  <div class="col-md-4 classes">
    <h3>
      <%= _('Included Classes') %>
      <span class="label label-primary">{{ addedPuppetClasses.length + inheritedPuppetClasses.length }}</span>
    </h3>
    <%= hidden_field_tag obj.class.model_name.tableize.singularize + "[puppetclass_ids][]" %>

    <ul id="selected_classes">
      <% if authorized_for(:controller => :host_editing, :action => :edit_classes) %>
          <li data-original-title="<%= _('Not authorized to edit classes') %>" rel="twipsy"
              data-ng-repeat="puppetclass in addedPuppetClasses | orderBy:'name'"
              class="selected_puppetclass even">
                <span>
                   <a data-original-title="Click to undo adding this class" rel="twipsy" ng-click="removePuppetclass(puppetclass)">
                  {{ puppetclass.name }}
                  </a>
                </span>
                <a class="glyphicon glyphicon-minus-sign" data-original-title="Click to undo adding this class"  rel="twipsy"
                   ng-click="removePuppetclass(puppetclass)">
                </a>
                <%= hidden_field_tag "#{obj.class.model_name.tableize.singularize}[puppetclass_ids][]",
                        "{{ puppetclass.id }}" %>
          </li>
      <% else %>
        <% obj.puppetclasses.each do |klass| %>
          <li data-original-title="<%= _('Not authorized to edit classes') %>" rel="twipsy" >
            <%= h klass.name %></li>
        <% end %>
      <% end %>
    </ul>

    <ul>
        <li data-original-title="<%= _('included already from parent') %>" rel="twipsy" style='color:black;'
            data-ng-repeat="puppetclass in inheritedPuppetClasses | orderBy:'name' ">
                  {{ puppetclass.name }}
        </li>
    </ul>
  </div>

  <div class="col-md-8">
    <h3>
      <%= _('Available Classes') %>
      <a ng-click="toggleExpandAll()" class='btn btn-default btn-sm'>{{ is_collapse_all ? 'Expand All' : 'Collapse All' }} </a>
      <span class="label label-success">{{ availablePuppetClasses.length }}</span>
    </h3>

    <div class='clearfix'>
      <div class='form-group col-md-6'>
        <input placeholder="<%= _('Filter classes') %>" class="form-control" data-ng-model='search.name' type='text'>
      </div>
    </div>

<!-- '!is_collapse || !is_collapse_all || (search.name.length > 0)' -->
    <div class="row">
      <div class="col-md-6 classes">
        <ul class="puppetclass_group">
          <div data-ng-repeat-start="(module_name,available_puppetclasses) in availablePuppetClassesByModule">
            <a data-ng-click='toggleExpand(module_name)' ng-hide='search.name.length > 0'>
               <%= image_tag("bullet_toggle_plus.png") %>
               {{ module_name }}
            </a>
          </div>
              <li data-ng-repeat="puppetclass in available_puppetclasses | filter:search | orderBy:'name'" data-ng-show='!collapedModules[module_name].is_collapse || (search.name.length > 0)'>
                <ul>
                <% unless authorized_for(:controller => :host_editing, :action => :edit_classes) %>
                  <li data-original-title="<%= _('Not authorized to edit classes') %>" rel="twipsy">{{ puppetclass.name }}</li>
                <% else %>
                  <li class="puppetclass" data-ng-show='!collapedModules[module_name].is_collapse || (search.name.length > 0)'>
                    <span>
                      <a data-ng-click="addPuppetclass(puppetclass)" data-original-title="Click to add puppetclass.name" rel="twipsy"
                         data-type="hostgroup">
                         {{puppetclass.name}}
                      </a>
                    </span>
                    <a data-ng-click="addPuppetclass(puppetclass)" data-original-title="Click to add puppetclass.name" rel="twipsy"
                       class='glyphicon glyphicon-plus-sign' data-type="hostgroup">
                    </a>
                  </li>
                <% end %>
                </ul>
              </li>
          <div data-ng-repeat-end></div>
        </ul>
      </div>
    </div>

  </div>
</div>


